# Logs
logs
*.log
npm-debug.log*

# Dependencies
node_modules
dist
dist-ssr
*.local

# Env
.env
.env.local
.env.production

# Supabase CLI local state
supabase/.temp
supabase/.branches

# Editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
